@import "normalize";
@import "font/fontello.css";
@import "font/fira.css";
@import "share-colors";

/* preview/thumbnail width and height must match those in settings.properties */
$preview-width: 1024px;
$preview-height: 768px;
$thumb-width: 150px;
$thumb-height: 100px;

$default-bg: #FFE5BF;
$default-color: #402600;
$thumbs-bg: #402600;
$thumbs-color: white;
$header-bg: #0099FF;
$header-color: white;
$header-btn-bg: #BFE6FF;
$header-btn-color: #402600;
$footer-link-color: #0099FF;

* {
    font-family: "Fira Sans";
    color: $default-color;
}
html {
    position: relative;
    margin: 0;
    padding: 0;
}
body {
    background: $default-bg;
    position: relative;
    margin: 0;
    padding: 0;
    .content {
        max-width: 40em;
        margin: 0 auto;
        text-align: left;
        padding: 0.5em;
    }
}
a,a:visited {
    text-decoration: none;
}
.wrap {
    margin: 32px 0 0 0;
    padding: 0;
}
body>div {
    text-align: center;
    padding: .5em;
}
.artist {
    font-weight: bold;
}
header {
    position: fixed;
    background: $header-bg;
    color: $header-color;
    margin: 0;
    display: block;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    a {
        margin: 0;
        width: 32px;
        height: 32px;
        display: inline-block;
        color: $header-color;
        font-size: 150%;
        line-height: 32px;
        border-radius: 5px;
        &:hover {
            background: $header-btn-bg;
            color: $header-btn-color;
        }
    }
    h1 {
        font-weight: bold;
        font-size: 150%;
        min-height: 32px;
        margin: 0;
        line-height: 32px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        color: $header-color;
    }
    .left-btns, .right-btns {
        position: absolute;
        z-index: 2001;
        top: 50%;
        margin-top: -16px;
        padding: 0;
        width: auto;
        height: 32px;
        display: block;
    }
    .left-btns {
        left: 0.5em;
    }
    .right-btns {
        right: 0.5em;
    }
    span {
        display: none;
    }
}
#menu {
    position: fixed;
    top: 32px;
    right: 0;
    background: $header-bg;
    color: $header-color;
    z-index: 2000;
    ul {
        display: block;
        margin: 0;
        padding: 0;
        li {
            display: block;
            margin: 0;
            padding: 0;
            text-indent: 0;
            border-top: 1px solid white;
            &:first-of-type {
                border-top: none;
            }
        }
    }
    a {
        color: $header-color;
        display: block;
        padding: 0.25em 1em;
        &:hover {
            background: $header-btn-bg;
            color: $header-btn-color;
        }
    }
}
.map {
    width: 100%;
    height: calc(100vh - 32px); /* viewport height minus header height */
    max-height: 70vw;
}
.profile {
    padding: 0.5em;
    .chart {
        width: 800px;
        margin: 0 auto;
        svg {
            width: 100%;
            height: 18.75%;
        }
        @media all and (max-width: 850px) {
            width: 600px;
        }
        @media all and (max-width: 640px) {
            width: 400px;
        }
        @media all and (max-width: 450px) {
            width: 240px;
        }
    }
    .summary {
        width: 400px;
        margin: 0 auto;
        th {
            text-align: left;
            font-weight: normal;
            font-style: italic;
        }
        td {
            text-align: right;
            font-weight: bold;
            font-style: normal;
        }
        @media all and (max-width: 450px) {
            width: 240px;
            font-size: 75%;
        }
    }
}
.folders ul {
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
    background: $header-bg;
    li {
        list-style: none;
        display: inline-block;
        margin: .5em 0.25em 0 0.25em;
        padding: 0;
        text-indent: 0;
        a {
            text-decoration: none;
            color: $header-btn-color;
            display: block;
            background: $header-btn-bg;
            padding: 0 0.25em;
            &:visited, &:hover {
                background: $header-bg;
            }
        }
    }
}
.share {
    padding: 0.5em;
    >a {
        margin: 0 0.125em;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        font-size: 150%;
        line-height: 32px;
        display: inline-block;
    }
}
.thumbs {
    text-align: justify;
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
    color: $thumbs-color;
    figure {
        background: $default-bg;
        display: inline-block;
        vertical-align: middle;
        margin: .5em 0 0 0;
        padding: 0;
        border: .5em solid $thumbs-color;
        figcaption {
            display: none;
        }
        img {
            display: block;
        }
    }
}
.preview figure {
    display: inline-block;
    margin: 0 auto;
    padding: .5em;
    background: white;
    max-width: 100%;
    img {
        display: block;
        max-height: $preview-height;
        max-width: 100%;
        margin: 0 auto;
    }
}
footer {
    padding: 0.5em 0.5em 2.5em 0.5em;
    text-align: center;
    a, a:visited {
        color: $footer-link-color;
    }
}
